@model CanteenAutomationSystem.Areas.FoodMenuSystem.Models.MenuCategory

<div class="tab-content">
    <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
        <form id="form1" style="font-size:13px;" autocomplete="@TempData["gAUTOFILL"]">
            <div class="row pb-3">
                <div class="col-md-6"><h4><b>Category Details</b></h4></div>
                <div class="col-md-6">

                    @if (!TempData["TYPE"].ToString().Equals("N"))
                    {
                        <button class="btn btn-sm btn-success" id="btn_update" style="float:right; border-radius:5px;width:80px;">
                            <i class="fas fa-save"></i>
                            Update
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-success" id="btn_add" style="float:right; border-radius:5px;width:80px;">
                            <i class="fas fa-save"></i>
                            Add
                        </button>
                    }

                    <a href="@Url.Action("CategoryListing", null, new { area = "FoodMenuSystem", controller = "FoodMenuSystem" })?page=@Request.QueryString["page"]&search=@Request.QueryString["search"]" class="btn btn-sm btn-default mr-1" style="float:right; border-radius:5px;width:80px;border:1px solid #c2d6d6;">
                        <i class="fa fa-undo"></i>
                        Back
                    </a>
                </div>
            </div>

            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="position-relative row form-group">
                        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">ID :</label>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12">
                            <input type="text" id="txtID" name="ID" value="@Model.ID" class="form-control @(TempData["TYPE"].ToString().Equals("N") ? "sRead" : "")" maxlength="10" @(!TempData["TYPE"].ToString().Equals("N") ? "readonly" : "")>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Description :</label>
                        <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                            <input type="text" id="txtDESC" name="DESC" value="@Model.DESC" class="form-control" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
     window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
    new Uri(new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
        Url.Content("~/")
    ).ToString(), true));

    $(document).ready(function () {
        //Set Textbox to to Readonly
        if (txtID.value != "") {
            $(".sRead").prop("readonly", true);
        }
    });

    $("#btn_add").click(function () {
        fCRUD('Add', 'FoodMenuSystem/FoodMenuSystem/AddCategory_Chk', 'FoodMenuSystem/FoodMenuSystem/AddCategory', "#form1", 'FoodMenuSystem/FoodMenuSystem/CategoryData?CategoryID=' + txtID.value + '&page=@Request.QueryString["page"]&search=@Request.QueryString["search"]&type=E');
        return false;
    });

    $("#btn_update").click(function () {
        fCRUD('Update', 'FoodMenuSystem/FoodMenuSystem/UpdateCategory_Chk', 'FoodMenuSystem/FoodMenuSystem/UpdateCategory', "#form1", 'FoodMenuSystem/FoodMenuSystem/CategoryData?CategoryID=@Model.ID&page=@Request.QueryString["page"]&search=@Request.QueryString["search"]&type=E');
        return false;
    });

</script>