@model CanteenAutomationSystem.Areas.FoodMenuSystem.Models.FoodMenu
@using CanteenAutomationSystem.Include;

<form id="form1" autocomplete="@TempData["gAUTOFILL"]" method="post" style="font-size:13px;">
    <div class="row pb-3">
        <div class="col-12">
            <h4>
                <b>Food Detail</b>
                <a href="@Url.Action("MenuListing", null, new { area = "FoodMenuSystem", controller = "FoodMenuSystem" })" class="btn btn-sm btn-default mr-1" style="float:right; border-radius:5px;width:80px;border:1px solid #c2d6d6;">
                    <i class="fa fa-undo"></i>
                    Back
                </a>
            </h4>
        </div>
    </div>

    <div class="main-card mb-3 card" id="Card_HD">
        <div class="card-header">
            <input id="chk_HD" type="checkbox" hidden>

            <div id="Card_Header_HD" class="card-header-title" style="border-radius:0px;cursor:pointer;">
                <i class="pe-7s-angle-up-circle" style="color:#3d68e0;font-size:16px;"></i>
                Header
            </div>

            <div class="btn-group" id="btn_group" style="float:right; border-radius:5px;margin-left: auto;">
                @if (!Session["_USERTYPE"].ToString().Equals("C"))
                {
                    if (!TempData["TYPE"].ToString().Equals("N"))
                    {
                        if (Model.STATUS != null)
                        {
                            if (Model.STATUS != "D")
                            {
                                <button class="btn btn-sm btn-danger mr-1" id="btn_delete" style="float:right; border-radius:5px;width:80px;">
                                    <i class="fas fa-trash"></i>
                                    Delete
                                </button>

                                <button class="btn btn-sm btn-success mr-1" id="btn_update" style="float:right; border-radius:5px;width:80px;">
                                    <i class="fas fa-save"></i>
                                    Update
                                </button>
                            }
                        }
                    }
                    else
                    {
                        <button class="btn btn-sm btn-success mr-1" id="btn_add" style="float:right; border-radius:5px;width:80px;">
                            <i class="fas fa-save"></i>
                            Add
                        </button>
                    }

                    if (Model.STATUS != null)
                    {
                        if (Model.STATUS != "D")
                        {
                            if (!Model.STATUS.Equals("A"))
                            {
                                <button class="btn btn-sm btn-warning mr-1" id="btn_load" style="float:right; border-radius:5px;width:120px;">
                                    <i class="fas fa-toggle-on"></i>
                                    Available
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-warning mr-1" id="btn_unload" style="float:right; border-radius:5px;width:120px;">
                                    <i class="fas fa-toggle-off"></i>
                                    Out of Stock
                                </button>
                            }
                        }
                    }
                }
            </div>

        </div>

        <input type="hidden" id="HidPageCont" value="@TempData["PAGECONT"]">
        <input type="hidden" id="HidSearchCont" value="@TempData["SEARCHCONT"]">
        <input type="hidden" id="HidREFNO" value="">    @*USE FOR IMPORT TO VERITY IS EDIT/NEW*@
        <input type="hidden" name="BRO_COMPANY" value="@Session["_COMPANY"]">
        <input type="hidden" id="HidSUB" name="SUB">
        <input type="hidden" id="HidID" value="@Model.ID">

        <div id="Card_Body_HD" class="card-body">
            <div class="box-body">
                <div class="position-relative row form-group">
                    <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">ID :</label>
                    <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12">
                        <input type="text" id="txtID" name="ID" value="@Model.ID" class="form-control sRead">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Description :</label>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                        <input type="text" id="txtDESC" name="DESC" value="@Model.DESC" class="form-control" maxlength="20">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-form-label">Price (@TempData["gCURR"]) :</label>
                    <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12">
                        <input type="text" id="txtPRICE" name="PRICE" value="@Model.PRICE" class="form-control" onKeyPress="return fValidatePrice(event);" onblur="fFormatDecBlur(this,@TempData["gDEC"]);">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Remark :</label>
                    <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                        <input type="text" id="txtREM" name="REM" value="@Model.REM" class="form-control" maxlength="50">
                    </div>
                </div>
                @if (!Session["_USERTYPE"].ToString().Equals("C"))
                {
                    <div class="position-relative row form-group">
                        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Category :</label>
                        <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                            <select class="form-control" id="txtCATEGORY" name="CATEGORY">
                                @foreach (var lstCategory in (List<CanteenAutomationSystem.Models.Category>)ViewData["CATEGORY"])
                                {
                                    <option value="@lstCategory.CategoryID" @(!TempData["TYPE"].ToString().Equals("N") ? (Model.CATEGORY == lstCategory.CategoryID ? "selected" : "") : "")>@lstCategory.CategoryID</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Image Url :</label>
                        <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                            <input type="text" id="txtURL" name="URL" value="@Model.URL" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-form-label">Status :</label>
                        <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12">
                            <select class="form-control sRead" id="txtSTATUS" name="STATUS" @(!TempData["TYPE"].ToString().Equals("N") ? "style=pointer-events:none readonly" : "")>
                                <option value="A" @(Model.STATUS == "A" ? "selected" : "")>Active</option>
                                <option value="I" @(Model.STATUS == "I" ? "selected" : "")>Inactive</option>
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>